.bookedContainer h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.bookedContainer p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.bookedContainer .bookedHomeBtnContainer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
