.confirmContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', 'sans-serif';
}
.confirmContainer .confirmBackBtnContainer .confirmBackBtn {
    z-index: 100;
    background-color: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}
.confirmContainer .confirmMap {
    flex: 1;
}
.confirmContainer .confirmBody {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.confirmContainer .confirmBody .confirmHeaderContainer {
    flex: 1;
    padding: 5px 0;
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid #c0c0c8;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer {
    flex-grow: 20;
    flex-basis: 0;
    overflow: auto;
    padding: 10px;
    padding-bottom: 60px;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer::-webkit-scrollbar {
    display: none;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer .confirmRideContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c0c0c8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.3s ease-in-out;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer .confirmRideContainer .confirmRideProfileContainer {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer .confirmRideContainer .confirmRideProfileContainer .confirmRideImg {
    width: 4.5rem;
    height: auto;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer .confirmRideContainer .confirmRideProfileContainer .confirmRideArrivalTime {
    color: #276ef1;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer .confirmRideContainer:hover {
    cursor: pointer;
}
.confirmContainer .confirmBody .confirmRideSelectionContainer .selected {
    box-shadow: rgba(50, 50, 93, 0.25) 10px 15px 15px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: scale(1.02);
    background-color: #a5a5b0;
}
.confirmContainer .confirmBody .confirmConfirmBtn {
    width: 90%;
    position: absolute;
    bottom: 1rem;
    font-size: large;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
